<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuxl.cc.nana.dao.TestMapper">
    <select id="selectNameById" resultType="String">
        select
          name

        from test where id = #{id,jdbcType=BIGINT}
    </select>
</mapper>